<div>
    <h1>School of the Prophets</h1>
    <ul class="nav nav-pills">
        <li><a href="/school">Home</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/logout">Log out</a></li>
        <li><a href="/addComment">Add comment</a></li>
        <li><a href="/addVerse">Add verse</a></li>
    </ul>
</div>
