<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add comment</title>
</head>
<body>
    <% include ../partials/header %>
    <form action="/insertComment" method="POST">
        <label for="book">Book</label>
        <select id="book" name="book">
            <option value="" selected disabled>--select book--</option>
            <%- books %>
        </select>
        <br/>
        <label for="chapter">Chapter</label>
        <select id="chapter" name="chapter" disabled>
            <option value="" selected disabled>--select chapter--</option>
        </select>
        <br/>
        <label for="verse">Verse</label>
        <select id="verse" name="verse" disabled>
            <option value="" selected disabled>--select verse--</option>
        </select>
        <br/>
        <label for="title">Source title</labe>
        <input id="title" name="title" type="text"/>
        <br/>    
        <label for="author_first">Author first</label>
        <input id="author_first" name="author_first" type="text"/>
        <label for="author_last">Author last</label>
        <input id="author_last" name="author_last" type="text"/>
        <br/>
        <input id="book" name="type" type="radio" value="book"/>
        <label for="book">Book</label> 
        <input id="talk" name="type" type="radio" value="talk"/>
        <label for="talk">Talk</label> 
        <input id="article" name="type" type="radio" value="article"/>
        <label for="article">Article</label> 
        <br/>
        <textarea id="text" name="text" rows="20" cols="100"></textarea>
        <br/>    
        <input id="submit" name="submit" type="submit" value="Add comment" disabled/>
    </form>
    <script type="text/javascript" src="/javascript/updateForm.js"></script>
</body>
</html>