<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commentary</title>
</head>
<body>
    <% include ../partials/header %>
    <h2><%= verse %></h2>
    <p><%= text %></p>
    <form action="/editVerse" method="GET">
        <input id="verseId" name="verseId" type="hidden" value=<%= id %>/>
    <% if (edit == true) { %>
        <input id="editVerse" name="editVerse" type="submit" value="Edit verse"/> 
    <% } %>
    </form>
    <div><%- commentary %></div>
</body>
</html>