<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form action="/validateLogin" method="POST">
            <label for="username">Username</label>
            <input id="username" name="username" type="text" required/>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" required/>
            <input id="submit" name="submit" type="submit" value="Log in"/> 
        </form>
    </div>
</body>
</html>